/*
colors used
Text color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
*/
:root {
    --primary-color: #357b70;
    --secondary-color: #e0b354;
    --dark-grey: #2b2b2b;
  }

  a {
    color: var(--primary-color);
  }

  a {
    color: var(--secondary-color);
  }
  
* {
    box-sizing: border-box;
}

div {
    padding: 10px; /* Adds a 10px inner spacing to all sides */
    Margin: 10px; /* Adds a 10px outer spacing to all sides */
    border: none; /* Attributes describe: thickness, type, color */
}
.logo { 
    width: 100px; height: auto; justify-items: left; 
}

header { display: flex; /* this stacks everything horizontally */ 
         justify-content: space-between; /* makes equal spaces between the elements*/ 
         /* align-items: center; if you want everything center align */ }         h1     { 
    font-size: 30px; 
      font-weight: 600; 
      color: black; 
}

.page-header {
    display:flex;
    width: 100%;
    padding: 20px;
    background-color: white;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item--active {
    text-decoration: none;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social-media a {
    text-decoration: none;
}

/* Index page */

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.profile__text {
    flex: 1 1 100px;
}

.profile__portrait {
    float: left;
    width: 150px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%
 }

h1  {
    font-size: 30px;
    font-weight: 700px
}

h2      {
    font-size: 24px;
    font-weight: 700;
}

h3      {
    font-size: 18px;
    font: weight 700px;
 }
 


body    {   
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(245, 236, 236);
    justify-content: center;
    align-items: center;
}

/* About Me page */

@keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}
.sun-phoenix {
    animation: 2s color-change infinite alternate linear;
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px); 
}
    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

span {
    color: purple
}

a {
    color: #357b70;
}

a:visited {
    /* visited link */
    color: #05676e;
}

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}

a:active {
    /* selected link */
    color: #489c79;
}

input, textarea, select, button {
    font-family: system-ui;
    border-radius: 5px;
}

/* About page */

.button, button {
    /* overwrites browser defaults and resets the border*/
    border: none;
    /* takes the font from the outer container */
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration of the button */
    background-color: #357b70;
    color: white;
    text-decoration: none; /*adds spacing to the button*/
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format*/
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s;
}
/* .button_secondary {
    background-color: #e0b354;
    color: #2b2b2b;
} */

button:hover, 
button:focus, 
.button:hover,
.button:focus {
/* lets the mouse appear as a hand when hovering over the button*/
cursor: pointer;
/* reduces the opacity of the button to 80% */
opacity: 0.8;
}

button-shared, .button {
    border: none;
    display: inline-block;
    font-family: inherit;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    transition: opacity 0.2s;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }
  
  .button {
    background-color: #357b70;
  }

.card {
    background-color: #05676e;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 400px;
}

/* Work page */

tr {
    display:table-row;
    vertical-align: auto;
    border-color:inherit;
    align-items: center;
    padding: 5;
}

table, th, td {
border: 1px solid black;
border-collapse:collapse;
border-spacing: 2px;
align-items: center;
}

table {
    text-align: center;
}
    
.navigation-list__item--active {
    text-decoration: none;
}

.main_body_about {
   text-align: center;
}

.my-work-indent {
    text-align: cnter;
}

.main_body_about_image {
    align-items: center;
    width: 250px;
    height: auto;
    border-radius: 50%;
    background-color: transparent;
}

.main_body_contact {
    text-align: center;
    display:block
}
.table-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    place-items: center;
    justify-content: space-around;
    align-content: stretch;
}
.grid {
    display: grid;
}

.grid__item {
    background-color: rgb(168, 163, 163);
    padding: 10;
}

.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
}
  
/* hover effect */

.grid__item:hover {
    transform: scale(1.1);
}

.grid__item:hover {
    opacity: 1;
    color: darkslateblue;
    cursor: pointer;
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
  }
  @media all and (max-width: 750px) {
    /*shared code 8 */
  }
  @media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr, 1fr;
    }
}
  @media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
}

/* Contact page */

.main_body_contact {
    position: relative;
    overflow: hidden;
}

.contact-me {
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    z-index: 1;
    cursor: pointer;
}
.contact-form {
    position:relative;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contact-form label {
    display: inline-block;
    width: 100px;
    cursor: pointer;
}

.contact form input[type="text"]
.contact-form input[type="email"]
.contact-form input[type="tel"]
.contact-form input[type="message"] {
    width: calc (100% - 100%);
    padding: 8px;
    margin-bottom: 10px;
    }
.contact-button {
    display: inline-block;
    cursor: pointer;
}

.button-svg {
    transition: transform 0.3s ease;
}

.contact-button:hover .button-svg {
    transform: scale(1.1);
}


/*
start grid fallback 
.grid__item {
    display: inline-block;
    width: 33%
}
end grid fallback 

@supports (display: grid) {
    .grid {
    display:grid;
    grid-templates-columns: 300px 300px 300px; fractions are better than pixels - they are responsive
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
    }
    }
    grid__item {
         background-color: lightgrey;
         width: auto;
         min-height: auto;
         margin: 0;
        }
    .grid__item:last-child {
        grid-column: 3 / 3;
        grid-row: 1 / 3;
    } 
    */
